@model MarketPlace.ApplicationContract.ViewModels.Account.LoginUserVM
@{
    ViewData["Title"] = "ورود";
}

<div class="breadcrumbs_area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb_content">
                    <ul>
                        <li><a asp-controller="Home" asp-action="Index">خانه</a></li>
                        <li>حساب کاربری</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="customer_login mt-60">
    <div class="container">
        <div class="row">
            <!--register area start-->
            <div class="col-lg-6 col-md-6 offset-lg-3 offset-md-3">
                <div class="account_form register">
                    <h2>ورود</h2>
                    <form asp-controller="Account" asp-action="Login" method="post">
                        <p>
                            <label asp-for="Mobile">شماره موبایل<span>*</span></label>
                            <input asp-for="Mobile">
                            <span asp-validation-for="Mobile" class="text-danger"></span>
                        </p>
                        <p>
                            <label asp-for="Password">رمز عبور<span>*</span></label>
                            <input asp-for="Password" type="password">
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </p>
                        <p>
                            <label asp-for="IsKeep">من را به خاطر بسپار</label>
                            <input asp-for="IsKeep" id="keepMe" onclick="keepMe">
                        </p>

                        <div class="login_submit">
                            <button type="submit">ورود</button>
                        </div>
                    </form>
                </div>
            </div>
            <!--register area end-->
        </div>
    </div>
</div>

<script>
    function keepMe() {

        var checkBox = document.getElementById("keepMe");

        if (!checkBox.val) checkBox.val = true;
        else checkBox.val = false;
    }
</script>

