<div class="dashboard_tab_button">
    <ul role="tablist" class="nav flex-column dashboard-list">
        <li><a asp-controller="Home" asp-action="Dashboard" asp-area="User" class="nav-link active">داشبورد</a></li>
        <li> <a asp-controller="Account" asp-action="ChangeProfile" asp-area="User" class="nav-link">ویرایش پروفایل</a></li>
        <li> <a asp-controller="Account" asp-action="ChangePassword" asp-area="User" class="nav-link">تغییر رمز عبور</a></li>
        <li> <a asp-controller="Ticket" asp-action="Index" asp-area="User" class="nav-link">تیکت ها</a></li>
        <li><a href="#downloads" data-toggle="tab" class="nav-link">دریافت ها</a></li>
        <li><a href="#address" data-toggle="tab" class="nav-link">آدرس ها</a></li>
        <li><a href="#account-details" data-toggle="tab" class="nav-link">جزئیات حساب</a></li>
        <li><a asp-controller="Account" asp-action="Logout" asp-area="" class="nav-link">خروج</a></li>
    </ul>
</div>